#wrapper {
    display: grid;                            /* 1 */
    grid-template-columns: repeat(5, 1fr);   /* 2 */
    grid-auto-rows: auto;                     /* 3 */
    grid-gap: 10px;                           /* 4 */

}

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: snow;
    border: black solid 3px;
}

