.pokemon-card-container{
    width: 165px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}
.pokemon-card{
    background-color: white;
    text-transform: capitalize;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    width: 100%;
}
h3 {
    margin:10px;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-left: -40px;
}

ul li{
    margin: 5px 0;
    background-color: lightgrey;
}

